
.ng-hide{ display:none!important; }

.pusher .ng-scope item{
	float: left;
}

.panel-group .panel-default .panel-collapse.in{
	height: auto;
}

.panel-group .panel-default .panel-collapse.collapse{
	height: 0px;
}

.panel-group .panel-default .panel-heading{
	cursor: pointer;
}

.upcoming-img{
	position: relative;
	overflow: hidden;
}

.upcoming-img img{
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%!important;
	width: auto!important;
	max-width: none!important;
	-webkit-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
}

.woocommerce-checkout .content.row, .woocommerce-cart .content.row{
	margin: 50px 40px 50px 40px !important;
}

best-seller .bx-controls-direction a span{display:table-cell;vertical-align:middle;font-size:3em;color:rgba(0,0,0,.3)}
best-seller .bx-controls-direction a span:hover{color:rgba(0,0,0,.6)}
best-seller .bx-controls-direction .bx-prev span{float:left;}
best-seller .bx-controls-direction .bx-next span{float:right;}

best-seller .price del{
    color: #CECECE;
}
best-seller .price ins{
    text-decoration: none;
}

.product-grid-details del {
    font-size: 16px;
    color: #BCBCBC;
    font-weight: 400;
}
.product-grid-details ins {
    text-decoration: none;
}

.product-info .product-price ins{
	font-size: 1.4em;
    padding-left: 5px;
    color: #0c7c8e;
	text-decoration: none!important;
}

a{
	cursor: pointer!important;
}





















